<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">
          <i class="menu-icon fa fa-tachometer-alt"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/student" class="nav-link">
          <i class="menu-icon fa fa-table"></i>
          <span class="menu-title">Create new student</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/students" class="nav-link">
          <i class="menu-icon fa fa-table"></i>
          <span class="menu-title">Students list</span>
        </a>
      </li>
    </ul>
  </nav>